/* Sticky footer styles
-------------------------------------------------- */
:root {
  --sgdb-dark-grey:rgb(61, 61, 61);
  --sgdb-light-grey:rgb(151, 148, 149);
  --sgdb-orange:rgb(255, 121, 48);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: var(--sgdb-dark-grey);
  background-image: url(../img/logo.jpg), url(../img/look-away.png);
  background-attachment : fixed;
  background-repeat: no-repeat;
  background-size: 18%, 20%;
  background-position-y: 80px, bottom;
  background-position-x: 20px, right;
  margin-bottom: 60px; /* Margin bottom by footer height */
  padding-top: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: var(--sgdb-dark-grey);
  color: var(--sgdb-light-grey);
}

.footer p > a {
  color: white;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.navbar {
  background-color: var(--sgdb-dark-grey);
}
.nav-item {
  padding-left: 15px;
  padding-right: 15px;
}
.nav-item a {
  color: var(--sgdb-orange);
  font-family: 'BioRhyme Expanded', serif;
  font-size: x-large
}

.nav-item h1 {
  color: var(--sgdb-orange);
  font-family: 'BioRhyme Expanded', serif;
  font-size: x-large
}

.anchor {
  display: block;
  height: 100px; /* this is the height of your header */
  margin-top: -100px; /* this is again negative value of the height of your header */
  visibility: hidden;
}

section > div > h1 {
  color: var(--sgdb-light-grey);
  text-align: center;
}

.band-list {
  margin-top: 100px;
}
.band-member {
  background-color: transparent;
  border: none;
  outline: none;
}
.band-member > div {
  padding-left: unset;
  padding-right: unset;
}
.band-member > img {
  src: url(/img/band/nuno.jpg);
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  border-color: var(--sgdb-light-grey);
}
.band-member p {
  outline: none;
  text-align: center;
  font-family: 'BioRhyme Expanded', serif;
  color: var(--sgdb-orange);
}
.band-member:hover {
  color: transparent;
  font-size: larger;
}

.agenda {
  color: var(--sgdb-orange);
}
.agenda dd {
  padding-left: 5%;
}

.contacts {
  color: white;
}
.contacts li {
  list-style-type: none;
  margin-bottom: 10px;
}
.contacts li > img {
  width: 32px;
  margin-right: 5px;
}
.contacts a {
  color: white;
}